In [1]:
from bs4 import BeautifulSoup
import requests

# **This is the first part, here I was trying to complete the task on one page, if something was true, I was creating a method for keeping the algorythm**

In [2]:
respons = requests.get("https://quotes.toscrape.com/tag/love/")

In [3]:
soup = BeautifulSoup(respons.content, parser = "html.parser")

In [4]:
loveContainer = soup.find("div", class_ = "col-md-8")

In [5]:
loveContainer

<div class="col-md-8">
<h1>
<a href="/" style="text-decoration: none">Quotes to Scrape</a>
</h1>
</div>

In [6]:
print(loveContainer.find("span", class_= "text"))

None

In [7]:
print(loveContainer.find("div", class_= "quote"))

None

In [8]:
loveTexts = soup.find_all("span", class_= "text")

In [9]:
loveQuotes = []

In [10]:
for i in loveTexts:
  loveQuotes.append(i.text)

In [11]:
len(loveQuotes)

10

In [12]:
quote_div = soup.find('div', class_='quote')
href_link = quote_div.find('a')['href']

In [13]:
href_link

'/author/Andre-Gide'

In [14]:
links = []
for quote_div in soup.find_all('div', class_='quote'):
    author_link = quote_div.find('a')['href']
    links.append(author_link)

links

['/author/Andre-Gide',
 '/author/Marilyn-Monroe',
 '/author/Bob-Marley',
 '/author/Elie-Wiesel',
 '/author/Friedrich-Nietzsche',
 '/author/Pablo-Neruda',
 '/author/Marilyn-Monroe',
 '/author/Marilyn-Monroe',
 '/author/James-Baldwin',
 '/author/Jane-Austen']

# **The First method, which will take all Author links from all quotes**

In [15]:
def GenerateLinkList(s, l):   # s- soup, l - links
  for quote_div in s.find_all('div', class_='quote'):
    author_link = quote_div.find('a')['href']
    l.append(author_link)
    #print(len(l))

In [16]:
kt = []
GenerateLinkList(soup, kt)

Test for a single example

In [17]:
newlinkT = "https://quotes.toscrape.com" + links[0]

In [18]:
responsT = requests.get(newlinkT)

In [19]:
soupT = BeautifulSoup(responsT.content, parser = "html.parser")

In [20]:
nameT = soupT.find("h3", class_="author-title")

In [21]:
print(nameT.text)

André Gide

In [22]:
bornT = soupT.find("span", class_="author-born-date")

In [23]:
print(bornT.text)

November 22, 1869

In [24]:
CityT = soupT.find("span", class_="author-born-location")

In [25]:
print(CityT.text)

in Paris, France

In [26]:
descrT = soupT.find("div", class_="author-description")

In [27]:
print(descrT.text.strip())

André Paul Guillaume Gide was a French author and winner of the Nobel Prize in literature in 1947. Gide's career ranged from its beginnings in the symbolist movement, to the advent of anticolonialism between the two World Wars.Known for his fiction as well as his autobiographical works, Gide exposes to public view the conflict and eventual reconciliation between the two sides of his personality, split apart by a straight-laced education and a narrow social moralism. Gide's work can be seen as an investigation of freedom and empowerment in the face of moralistic and puritan constraints, and gravitates around his continuous effort to achieve intellectual honesty. His self-exploratory texts reflect his search of how to be fully oneself, even to the point of owning one's sexual nature, without at the same time betraying one's values. His political activity is informed by the same ethos, as suggested by his repudiation of communism after his 1936 voyage to the USSR.

Apply

In [28]:
names = []
bornandcity = []
descr = []

In [29]:
for i in links:
  newResponse = requests.get("https://quotes.toscrape.com" + i)
  newSoup = BeautifulSoup(newResponse.content, parser = "html.parser")
  names.append(newSoup.find("h3", class_="author-title").text)
  bornInfo = newSoup.find("span", class_="author-born-date").text + " " + newSoup.find("span", class_="author-born-location").text
  bornandcity.append(bornInfo)
  descr.append(newSoup.find("div", class_="author-description").text.strip())


print(len(names))
print(len(bornandcity))
print(len(descr))

10
10
10

# **As the test worked, the second method I created for working with the links generated by the previous method**

In [30]:
def ScrapeNameBornDiscr(l, n, b, d):  #l-links, n - names, b - born and city, d - description
  for i in l:
    resp = requests.get("https://quotes.toscrape.com" + i)
    sp = BeautifulSoup(resp.content, parser = "html.parser")
    n.append(sp.find("h3", class_="author-title").text)
    bornInfo = sp.find("span", class_="author-born-date").text + " " + sp.find("span", class_="author-born-location").text
    b.append(bornInfo)
    d.append(sp.find("div", class_="author-description").text.strip())

In [31]:
print(len(names))
print(len(bornandcity))
print(len(descr))

10
10
10

In [32]:
tagsTest = []
tagT = soup.find("div", class_="tags")
tagT.text

'\n            Tags:\n            \nlife\nlove\n'

In [33]:
for i in soup.find_all("div", class_="tags"):
  a = ""
  for j in i.find_all("a", class_ = "tag"):
    a = a+ j.text + " "
  tagsTest.append(a)

In [34]:
tagsTest
len(tagsTest)

10

# **As tag scraping logic also works, this method is for scraping Tags**

In [35]:
def ScrapeTags(s, t): #s-soup, t-tagList
  for i in s.find_all("div", class_="tags"):
    k = ""
    for j in i.find_all("a", class_ = "tag"):
      k= k+ j.text + " "
    t.append(k)

In [36]:
tagsTest = []
ScrapeTags(soup, tagsTest)
tagsTest
len(tagsTest)

10

# As the test in first part is sucessful, I have to apply the code to all pages

In [37]:
pages = []
pages = []
baseLink = "https://quotes.toscrape.com/tag"
types = ["/love/", "/inspirational/", "/life/", "/humor/", "/books/", "/friendship/", "/reading/", "/friends/", "/truth/", "/simile/"]
for i in types:
  pages.append(baseLink + i)

pages
len(pages)

10

In [38]:
Quotes = []
AuthorNames = []
BornInfos = []
Descriptions = []
Tags = []

In [39]:
def ScrapePages(s):
    for j in s.find_all("span", class_= "text"):
      Quotes.append(j.text)
    currentLinks = []
    GenerateLinkList(s, currentLinks)
    len(currentLinks)
    ScrapeNameBornDiscr(currentLinks, AuthorNames, BornInfos, Descriptions)
    ScrapeTags(s, Tags)

In [40]:
for i in pages:
    response = requests.get(i)
    currentSoup = BeautifulSoup(response.content, parser = "html.parser")
    ScrapePages(currentSoup)
    if(currentSoup.find("li", class_  = "next")):
      k = i+"page/2/"
      resp = requests.get(k)
      currentSoup2 = BeautifulSoup(resp.content, parser = "html.parser")
      ScrapePages(currentSoup2)

print(len(AuthorNames))
print(len(BornInfos))
print(len(Quotes))
print(len(Descriptions))
print(len(Tags))

86
86
86
86
86

In [41]:
import pandas
df = pandas.DataFrame(data={"Name": AuthorNames, "Born Info": BornInfos, "Description": Descriptions, "Quote": Quotes, "Tags": Tags})
df.to_csv("./file.csv", sep=',',index=False)

In [42]:
df

,Name,Born Info,Description,Quote,Tags
0,André Gide,"November 22, 1869 in Paris, France",André Paul Guillaume Gide was a French author ...,“It is better to be hated for what you are tha...,life love
1,Marilyn Monroe,"June 01, 1926 in The United States",Marilyn Monroe (born Norma Jeane Mortenson; Ju...,“This life is what you make it. No matter what...,friends heartbreak inspirational life love sis...
2,Bob Marley,"February 06, 1945 in Nine Mile, Saint Ann, Jam...","Robert ""Bob"" Nesta Marley OM was a Jamaican si...","“You may not be her first, her last, or her on...",love
3,Elie Wiesel,"September 30, 1928 in Sighet, Romania",Eliezer Wiesel was a Romania-born American nov...,"“The opposite of love is not hate, it's indiff...",activism apathy hate indifference inspirationa...
4,Friedrich Nietzsche,"October 15, 1844 in Röcken bei Lützen, Prussia...",Friedrich Wilhelm Nietzsche (1844–1900) is a G...,"“It is not a lack of love, but a lack of frien...",friendship lack-of-friendship lack-of-love lov...
...,...,...,...,...,...
81,J.K. Rowling,"July 31, 1965 in Yate, South Gloucestershire, ...",See also: Robert GalbraithAlthough she writes ...,"“The truth."" Dumbledore sighed. ""It is a beaut...",truth
82,Mark Twain,"November 30, 1835 in Florida, Missouri, The Un...","Samuel Langhorne Clemens, better known by his ...",“Never tell the truth to people who are not wo...,truth
83,Steve Martin,"August 14, 1945 in Waco, Texas, The United States","Stephen Glenn ""Steve"" Martin is an American ac...","“A day without sunshine is like, you know, nig...",humor obvious simile
84,Albert Einstein,"March 14, 1879 in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ...",“Life is like riding a bicycle. To keep your b...,life simile
85,Stephenie Meyer,"December 24, 1973 in Connecticut, The United S...","I was born in Connecticut in 1973, during a br...","“He's like a drug for you, Bella.”",drug romance simile

# **When I opened pages via buttons on the right side, the number of total quotes was 86. But quotes on the mane page are 100. Here I will scrape them too.**

In [43]:
Quotes = []
AuthorNames = []
BornInfos = []
Descriptions = []
Tags = []
baseL = "https://quotes.toscrape.com/page/"
for i in range(1, 11):
  cLink = baseL + str(i) + "/"
  response = requests.get(cLink)
  currentSoup = BeautifulSoup(response.content, parser = "html.parser")
  ScrapePages(currentSoup)

print(len(AuthorNames))
print(len(BornInfos))
print(len(Quotes))
print(len(Descriptions))
print(len(Tags))

100
100
100
100
100

In [44]:
df2 = pandas.DataFrame(data={"Name": AuthorNames, "Born Info": BornInfos, "Description": Descriptions, "Quote": Quotes, "Tags": Tags})
df2.to_csv("./secondfile.csv", sep=',',index=False)

In [45]:
df2

,Name,Born Info,Description,Quote,Tags
0,Albert Einstein,"March 14, 1879 in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ...",“The world as we have created it is a process ...,change deep-thoughts thinking world
1,J.K. Rowling,"July 31, 1965 in Yate, South Gloucestershire, ...",See also: Robert GalbraithAlthough she writes ...,"“It is our choices, Harry, that show what we t...",abilities choices
2,Albert Einstein,"March 14, 1879 in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ...",“There are only two ways to live your life. On...,inspirational life live miracle miracles
3,Jane Austen,"December 16, 1775 in Steventon Rectory, Hampsh...",Jane Austen was an English novelist whose work...,"“The person, be it gentleman or lady, who has ...",aliteracy books classic humor
4,Marilyn Monroe,"June 01, 1926 in The United States",Marilyn Monroe (born Norma Jeane Mortenson; Ju...,"“Imperfection is beauty, madness is genius and...",be-yourself inspirational
...,...,...,...,...,...
95,Harper Lee,"April 28, 1926 in Monroeville, Alabama, The Un...","Harper Lee, known as Nelle, was born in the Al...",“You never really understand a person until yo...,better-life-empathy
96,Madeleine L'Engle,"November 29, 1918 in New York City, New York, ...",Madeleine L'Engle was an American writer best ...,“You have to write the book that wants to be w...,books children difficult grown-ups write write...
97,Mark Twain,"November 30, 1835 in Florida, Missouri, The Un...","Samuel Langhorne Clemens, better known by his ...",“Never tell the truth to people who are not wo...,truth
98,Dr. Seuss,"March 02, 1904 in Springfield, MA, The United ...",Theodor Seuss Geisel was born 2 March 1904 in ...,"“A person's a person, no matter how small.”",inspirational
99,George R.R. Martin,"September 20, 1948 in Bayonne, New Jersey, The...","George R. R. Martin was born September 20, 194...",“... a mind needs books as a sword needs a whe...,books mind

# **<font color='blue'> To enhance the flexibility of the code, it would be better to structure it in a way that allows for dynamic handling of pages, removing the need to predefine the total number. </font>**